@{
    ViewBag.Title = "Error Page";
}

@if (ViewBag.ErrorTitle == null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"> Error</h4>
        <p>Sorry the resource you requested could bot be found </p>
        <hr />
        <p class="mb-0">
            <a asp-controller="home" asp-action="index" class="btn btn-success">Home Page</a>
        </p>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"> @ViewBag.ErrorTitle</h4>
        <p>@ViewBag.ErrorMessage</p>
        <hr />
        <p class="mb-0">
            <a asp-controller="home" asp-action="index" class="btn btn-success">Home Page</a>
        </p>
    </div>
}


