

@{
    ViewBag.Title = "Email Confirmed";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>You Succesfuly confirmed your Email Adress!!</p>
    <hr>
    <p class="mb-0">For Aditional Info. Please contact the Administration on "testemail.com"</p>
</div>