@{
    ViewBag.Title = "Forgot Password ";
}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>If this email already exists, we send reset password confirmation link</p>
    <hr>
    <p class="mb-0">Pleas check your Email adress!</p>
</div>