@{
    ViewBag.Title = "Reset Password Succes";
}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>You password has been Reset</p>
    <hr>
    <p class="mb-0">Click this link to LogIn   <a asp-action="Login" asp-controller="Account" class="link-success">log in</a> </p>
</div>