@model IEnumerable<Employee>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{

    ViewBag.Title = "Employee List";
}


<div class="card-deck d-flex flex-wrap justify-content-between">
    @foreach (var item in Model)
    {
        <div class="card border-primary mb-3 " id="custom_media">

            <div class="card-header">
                <h5 class="card-title">@item.Name</h5>
            </div>
            <img class="card-img-top text-center" src="~/images/@item.ImagePath" id="custom_media_img" alt="Card image cap" asp-append-version="true">
            <div class="card-footer d-flex justify-content-between text-sm-center">
                <a class="btn  btn-outline-info" asp-controller="home" asp-action="details" asp-route-id="@item.EncryptedId">Details</a>
                <a class="btn btn-outline-warning" asp-controller="home" asp-action="edit" asp-route-id="@item.EncryptedId">Edit</a>
                <a class="btn btn-outline-danger" asp-controller="home" asp-action="Delete" asp-route-id="@item.EncryptedId">Delete</a>
            </div>
        </div>

    }
</div>
