@{
    ViewBag.Title = "Succes Action";
    
}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Employee  @ViewBag.Message  has been update</p>
    <hr>
    <p class="mb-0">
        <div class="alert alert-success" role="alert">
            Go to Home <a asp-action="Index" asp-controller="Home" class="alert-link">link</a>. Give it a click .
        </div>
    </p>
</div>